body{
    margin: 0px;
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 600px;
}

ul{
    padding: 0px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
    display: block;
}

h1,ul,li,p{
    margin: 0px;
}

.bg-black{
    background-color: #000;
}